.calendar-top {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
    border: solid 3px skyblue;
    border-radius: 30px;
    background-color: skyblue;
  }
  
  .calendar-top-sun {
    background-color: red;
    border: red;
  }
  
  .calendar-top-sat {
    background-color: blue;
  }
